	</main>
		<footer class='copyright'>
			<div class="footer-band">
			</div>
			<span class="copyright-text">Copyright &copy; Micah Wierenga 2017</span>
		</footer>
    <script id="mapScript" async defer></script>
  </body>
</html>