
    <script id="mapScript" async defer></script>
  </body>
</html>

<!--  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADwIPFWxTu4nOkfPBU4Un7W-pNmKuLjIs&libraries=places&callback=initAutocomplete"   -->