
    <script id="mapScript" async defer></script>
  </body>
</html>

<!-- src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPXgxdmcZnFTNOeYM_N6H7nrK33xRMJJA&libraries=places&callback=initAutocomplete"  -->