body {
/*	padding-top: 70px;*/
	background: #a8b6bf;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/*Navigation*/

.navbar {
	background-color: #7d4627;
	border: none;
	border-radius: 0;
	font-weight: bold;
}

.navbar-default .navbar-brand {
	color: #edd9c0;
}

.navbar-default .navbar-nav>li>a {
	color: #edd9c0;
}

/*Story Submission Div*/

#storyBody {
	height: 100px;
}

#storyModal {
	background: #edd9c0;
	padding: 15px;
	border-radius: 4px;
	color: #7d4627;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#displayStory {
	background: #7d4627;
	color: white;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 4px;
	width: 100%;
	display: inline-block;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.form-control {
	border-radius: none;
	width: inherit;
	display: inline-block;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.btn {
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

label {
	width: 92%;
	margin-left: 14px;
}

/*Form Fields*/

#street {
	width: 46%;
	margin-left: 14px;
}

#city {
	width: 46%;
}

#monthStart {
	width: 46%;
	margin-left: 14px;}

#yearStart {
	width: 46%;
}

#monthEnd {
	width: 46%;
	margin-left: 14px;}

#yearEnd {
	width: 46%;
}

#storyBody {
	width: 92%;
	margin-left: 14px;
}

#header {
	text-align: right;
	height: 20px;
}

/*Story Glyphs*/

.glyphicon {
	margin-right: 5px;
	color: white;
}

.glyphicon:hover {
	color: #ddd;
}

.signup {
	width: 300px;
}

/*Map Div*/

#mapFrame {
	margin: 0;
}

#map {
	width: 600px;
	height: 400px;
	border-radius: 4px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
/* Optional: Makes the sample page fill the window. */


.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/*Search Box*/

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
	border-radius: 4px;
}

#pac-input:focus {
	border-color: #18121E;
}

.pac-container {
	font-family: Roboto;
}

/*Type Selectors*/

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
	border-radius: 4px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

/*Target*/

#target {
	width: 345px;
}